<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.neocom.mapper.BoardMapper">
    <!-- 작성 -->
 <insert id="create" parameterType="int">
  insert into myBoard(bno, title, content, writer)
      values (0, #{title}, #{content}, #{writer})
 </insert>
 
 <!-- 조회 -->
 <select id="select" resultType="com.jhta.neocom.model.BoardVo">
  select bno, title, content, writer, regDate, viewCnt
   from myBoard
    where bno = #{bno}
 </select>

 <!-- 수정 --> 
 <update id="update" parameterType="int">
  update myBoard
   set
    title = #{title},
    content = #{content}
   where bno = #{bno}  
 </update>
 
 <!-- 삭제 -->
 <delete id="remove" parameterType="int">
  delete from
   myBoard
  where bno = #{bno}
 </delete>
 
 <!-- 전체 조회 -->
<select id="list"  resultType="com.jhta.neocom.model.BoardVo">
select * from myBoard
</select>
</mapper>
