<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.neocom.mapper.QnABoardMapper">

	<insert id="insert" parameterType="qnaboard">
		insert into qna_board 
		values(get_seq('qnaboardSeq'),'11',#{qna_password},#{qna_secret_chk},#{qna_title},#{qna_content},sysdate(),0,qna_board_no,0,0)
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from qna_board where qna_board_no=#{qna_board_no}
	</delete>
	
	<update id="update" parameterType="qnaboard">
		update qna_board set 
		qna_password=#{qna_password},
		qna_secret_chk=#{qna_secret_chk},
		qna_title=#{qna_title},
		qna_content=#{qna_content},
		qna_regdate=#{qna_regdate}
		where qna_board_no=#{qna_board_no}
	</update>
	
	<select id="list" resultType="hashmap" parameterType="hashmap">
		select n.* ,m.* from qna_board n join member_Info m on n.mem_no=m.mem_no order by qna_board_no desc
	</select>
	
	<select id="detail" resultType="qnaboard" parameterType="int">
		select * from qna_board where qna_board_no=#{qna_board_no}
	</select>

</mapper>